@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #E0E7F1; 
    color: #1B3A61; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    background-color: #F9FAFC; 
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    border: 2px dashed #1B3A61; 
    text-align: center;
}

form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    font-weight: 700;
    color: #1B3A61; 
    font-size: 1em;
    flex: 1;
    text-align: left;
}

input {
    padding: 12px;
    border: 1px solid #9BB1CC; 
    border-radius: 8px;
    background-color: #F1F5FA; 
    color: #1B3A61; 
    font-size: 1em;
    flex: 2;
    margin-left: 10px;
}

button {
    background-color: #9BB1CC; 
    color: #1B3A61; 
    font-weight: 700;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    width: 100%;
    margin-top: 20px;
}

span {
    font-size: 0.9em;
    padding-left: 10px;
    color: #641c1c; 
}

p, h1 {
    font-size: 1.2em;
    color: #1B3A61; 
    font-weight: 700;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
    border-bottom: 1px dashed #1B3A61; 
    padding-bottom: 10px;
}
